﻿body {
 text-decoration:none;
 text-color:black;
 text-wrap:break-word;
 margin:0;
}
.top {
 color:gold;
 text-align:center;
 border:8px ridge cyan;
 border-radius: 100px;
 padding:10px;
 margin-left:15%;
 margin-right:15%;
}


.menu{
 text-align:left;
 background:#FA58F4;
 background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(172,88,251,0.8) 10%,rgba(51,71,249,0.6) 50%, rgba(172,88,251,0.8) 90%,rgba(255,255,255,0) 100%);
 background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(172,88,251,0.8) 10%,rgba(51,71,249,0.6) 50%, rgba(172,88,251,0.8) 90%,rgba(255,255,255,0) 100%);
 background: -o-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(172,88,251,0.8) 10%,rgba(51,71,249,0.6) 50%, rgba(172,88,251,0.8) 90%,rgba(255,255,255,0) 100%);
 background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(172,88,251,0.8) 10%,rgba(51,71,249,0.6) 50%, rgba(172,88,251,0.8) 90%,rgba(255,255,255,0) 100%);
 background: linear-gradient(top, rgba(255,255,255,0) 0%, rgba(172,88,251,0.8) 10%,rgba(51,71,249,0.6) 50%, rgba(172,88,251,0.8) 90%,rgba(255,255,255,0) 100%);
 padding:8px;
 height:28px;
}
a{
 text-decoration:none;
 color:yellow;
}
.spisok{
 float: left;
 width:150px;
 margin:0 15px; 
}
ul{
 list-style:none;
 font-family: Arial, sans-serif;
 text-aling:center;
}
li ul{
 position:absolute;
 display:none;
 margin-left:-40px;
}
li a{
 display:block;
 text-decoration:none;
 box-shadow:0px 0px 4px 6px darkblue;
 background:indigo;
 background:-moz-radial-gradient(center left, #580D79 0%, #820C9F 20%, #580D79 40%, #820C9F 60%, #580D79 80%, #820C9F 100%);
 background:-webkit-radial-gradient(center left, #580D79 0%, #820C9F 20%, #580D79 40%, #820C9F 60%, #580D79 80%, #820C9F 100%);
 background:-o-radial-gradient(center left, #580D79 0%, #820C9F 20%, #580D79 40%, #820C9F 60%, #580D79 80%, #820C9F 100%);
 background:-ms-radial-gradient(center left, #580D79 0%, #820C9F 20%, #580D79 40%, #820C9F 60%, #580D79 80%, #820C9F 100%);
 font-size: 25px;
}
li a:hover{
 color:orange;
 box-shadow:0 0 6px 6px aqua;
 background:lightcyan;
}
li a:active{
color:magenta;
}
li:hover ul{
 display:block;
}
.home{
 width:80px;
}
.item{
 text-align:center;
}
.arr{
 margin:13px auto;
}
div.text{
 border:8px double #000dff;
 color: #fb1300;
 border-radius:50px;
 background: rgba(112, 1, 0, 0.7);
 padding:20px;
 margin:0 30px;
}
h2.zagl{
color:aqua;
}
ul.prost{list-style:circle}
li.prost{padding:0}
.opred{
 color:lightgrey;
 margin-left:20px;
 text-shadow:2px 2px 3px;
}

